body {
	font: 12px sans-serif;
}

#container {
	position: relative;
}

#svg_map {
	position: absolute;
	top: 120px;
	width: 960px;
	height: 600px;
}

#svg_legend {
	position: absolute;
	left: 980px;
	top: 120px;
	width: 140px;
	height: 250px;
}

#svg_bar_chart {
	position: absolute;
	left: 980px;
	top: 390px;
}

#extra_info {
	position: absolute;
	top: 730px;
}

.bar_container rect {
	fill: #FC8D59;
	stroke: rgba(250, 15, 160, 0.2);
}

.bar_conatiner text {
	fill: black;
	stroke: black;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}
/*.y.axis path {
	display: none;
}*/
