body {
	font: 12px sans-serif;
}

#container {
	position: relative;
}

#svg_map {
	position: absolute;
	top: 120px;
	width: 960px;
	height: 600px;
}

#svg_legend {
	position: absolute;
	left: 1025px;
	top: 120px;
	width: 140px;
	height: 250px;
}

#svg_bar_chart {
	position: absolute;
	left: 980px;
	top: 390px;
	width: 230px;
	height: 330px;
}

#extra_info {
	position: absolute;
	top: 730px;
}

.bar_conatiner text {
	fill: black;
	stroke: black;
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.x.axis path {
	display: none;
}
