body {
	font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: black;
	stroke-width: 1.5px;
}

.title {
	font: 14px sans-serif;
}

.explanation {
	font: 12px sans-serif;
}