body {
	font: 10px sans-serif;
}

.title {
	font: 14px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.line {
	fill: none;
	stroke: black;
	stroke-width: 1.5px;
}

.listener {
	fill: transparent;
	stroke: transparent;
}

.cross-hair {
	fill: none;
	stroke: black;
}

.label {
	fill: black;
	stroke: black;
}

.text {
	fill: white;
	stroke: white;
	font: 12px sans-serif;
}

.explanation {
	font: 12px sans-serif;
}
